<% if logged_in? %>
  <%= render "layouts/flash_messages" %>
  <div class="container cs-container2 mt-4">
    <div class="row cs-box2">
      <%= render "layouts/aside" %>
      <div class="reportlist col-sm-8 offset-sm-1 p-3">
        <h1 class="text-center">レポート一覧</h1>
      </div>
    </div>
  </div>
<% else %>
  <div class="mb-0">
    <%= render "layouts/flash_messages" %>
  </div>
  <div class="cs-unlogin">
    <div class="cs-box">
      <h1 class="text-center cs-text1">Welcome To The Reportlist</h1>
      <p class="text-center cs-text2 mt-3">Reportlistはレポートをネット上で管理するためのサイトです。</p>
      <div class="cs-login-buttons">
        <div class="cs-button-box">
          <%= link_to "ログイン！", login_path, class: "cs-login-button" %>
        </div>
        <div class="cs-signup">
          <p class="cs-text3">アカウントをお持ちでない方:</p>
          <%= link_to "新規登録", signup_path, class: "cs-signup-button btn btn-light" %>
        </div>
      </div>
    </div>
  </div>
<% end %>